<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons">
</f:section>

<f:section name="Content">
    <h1><f:translate key="heading.addressList">Address Listing</f:translate></h1>

    <f:render partial="Address/ExportButton" arguments="{_all}" />
    <f:render partial="Address/Filter" arguments="{demand: demand, raffles: raffles}" />

    <f:render partial="Address/PaginatedListWidget" arguments="{_all}" />
</f:section>

</html>